#statGalaxyLogo {
  max-width: 300px;
  width: 50%;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-custom {
    background-color: #192837;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#footer {
  margin-top: 10px;
  background-color: #192837;
}

#footer a, #footer p {
  color: white;
}

#footer hr {
  border-color: white;
}

.img-thumbnail img {
  padding: 1px;
  width: 100%;
  margin-bottom: 5px;
}
